<div *ngFor="let video of videos" class="card-wrapper">
    <igx-card>
        <div style="overflow: hidden">
            <img width="100%" height="100%" [src]="video.thumbnailUrl">
        </div>
        <igx-card-header>
            <h3 class="igx-card-header__title">{{ video.title }}</h3>
            <h5 class="igx-card-header__subtitle">{{ video.description }}</h5>
        </igx-card-header>
        <igx-card-actions>
            <div class="igx-card-actions__bgroup">
                <a href="{{ video.videoUrl }}">
                    <button igxButton igxRipple>Watch</button>
                </a>
            </div>
        </igx-card-actions>
    </igx-card>
</div>
