<div *ngFor="let video of videos" class="card-wrapper">
    <igx-card>
        <div style="overflow: hidden">
            <img [src]="video.thumbnailUrl">
        </div>
        <igx-card-header>
            <h3 class="igx-card-header__title">{{ video.title }}</h3>
            <h5 class="igx-card-header__subtitle">{{ video.description }}</h5>
        </igx-card-header>
        <igx-card-actions>
            <div class="igx-card-actions__bgroup">
                <span igxButton igxRipple>
                    <a href="{{ video.videoUrl }}" target="_blank">
                        Watch
                    </a>
                </span>
            </div>
        </igx-card-actions>
    </igx-card>
</div>
