.app-col {
    width: 50%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.cc-image {
    max-width: 100px;
    display: block;
    margin: auto;
}

#cc-grid thead th div > .title {
    display: table;
    margin: 0 auto;
}

#cc-grid tr {
    font-size: 22px;
}

#cc-grid tbody tr {
    height: 120px;
}

    #cc-grid tbody tr td {
        vertical-align: middle;
        text-align: center;
    }

.card-wrapper {
    max-width: 320px;
    margin: 0 20px 20px 20px;
    float: left;
}
