.app-col {
    width: 50%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.cc-image {
    width: 45px;
}
#cc-grid tr {
    font-size: 22px;
}

#cc-grid tbody tr {
    height: 120px;
}

.card-wrapper {
    max-width: 320px;
    margin: 0 20px 20px 20px;
    float: left;
}

.app-header {
    display: table;
    margin: 30px auto;
}

.videos-wrapper {
    display: table;
    margin: 0 auto;
    padding-left: 20px;
}
